In [67]:
import numpy as np
import pandas as pd

import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [68]:
df = pd.read_csv('titanic.csv',usecols=['Age','Pclass','SibSp','Parch','Survived'])
df.head(4)

   Pclass   Age  SibSp  Parch  Survived
0       3  22.0      1      0         0
1       1  38.0      1      0         1
2       3  26.0      0      0         1
3       1  35.0      1      0         1

In [69]:
df.dropna(inplace=True)

In [70]:
df.shape

(714, 5)

In [71]:
lr = LogisticRegression()
lr.fit(X,y)

LogisticRegression()

In [73]:
np.mean(cross_val_score(LogisticRegression(),X,y, scoring='accuracy', cv=20))

0.6933333333333332

In [74]:
X.head(4)

   Pclass   Age  SibSp  Parch
0       3  22.0      1      0
1       1  38.0      1      0
2       3  26.0      0      0
3       1  35.0      1      0

# Apply Feature Construction

In [75]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [76]:
X.head(4)

   Pclass   Age  SibSp  Parch  Family_size
0       3  22.0      1      0            2
1       1  38.0      1      0            2
2       3  26.0      0      0            1
3       1  35.0      1      0            2

In [77]:
def myfunc(num):
    if num >= 0 and num <= 1:
        return 0
    if num > 1 and num <= 4:
        return 1
    else:
        return 2

In [78]:
myfunc(5)

2

In [79]:
X['Family_type'] = X['Family_size'].apply(myfunc)

In [80]:
X.drop(['SibSp','Parch','Family_size'],axis=1,inplace=True)

In [81]:
np.mean(cross_val_score(LogisticRegression(),X,y, scoring='accuracy', cv = 20))

0.7003174603174602

# Feature Splitting

In [123]:
df = pd.read_csv('titanic.csv',usecols=['Name','Survived'])
df.head(4)

                                                Name  Survived
0                            Braund, Mr. Owen Harris         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2                             Heikkinen, Miss. Laina         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1

In [124]:
df['Title'] = df['Name'].str.split(', ',expand=True)[1].str.split('.',expand=True)[0]

In [125]:
df.head(4)

                                                Name  Survived Title
0                            Braund, Mr. Owen Harris         0    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1   Mrs
2                             Heikkinen, Miss. Laina         1  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1   Mrs

In [133]:
(df.groupby('Title').mean()['Survived']).sort_values(ascending=False)

C:\Users\PC\AppData\Local\Temp\ipykernel_1516\3137039102.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (df.groupby('Title').mean()['Survived']).sort_values(ascending=False)

Title
the Countess    1.000000
Mlle            1.000000
Sir             1.000000
Ms              1.000000
Lady            1.000000
Mme             1.000000
Mrs             0.792000
Miss            0.697802
Master          0.575000
Col             0.500000
Major           0.500000
Dr              0.428571
Mr              0.156673
Jonkheer        0.000000
Rev             0.000000
Don             0.000000
Capt            0.000000
Name: Survived, dtype: float64