# Without Pipeline

In [4]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [40]:
df = pd.read_csv('titanic.csv')
df.head(6)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0

In [41]:
df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1, inplace=True)

In [42]:
df.head(6)

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
0       3    male  22.0      1      0   7.2500        S         0
1       1  female  38.0      1      0  71.2833        C         1
2       3  female  26.0      0      0   7.9250        S         1
3       1  female  35.0      1      0  53.1000        S         1
4       3    male  35.0      0      0   8.0500        S         0
5       3    male   NaN      0      0   8.4583        Q         0

In [43]:
df.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
Survived      0
dtype: int64

In [60]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['Survived'],axis=1), df['Survived'], test_size=.2)

In [61]:
si_age = SimpleImputer()
si_embarked = SimpleImputer(strategy='most_frequent')

X_train_age = si_age.fit_transform(X_train[['Age']])
X_train_embarked = si_embarked.fit_transform(X_train[['Embarked']])

X_test_age = si_age.transform(X_test[['Age']])
X_test_embarked = si_embarked.transform(X_test[['Embarked']])

In [62]:
ohe_sex = OneHotEncoder(sparse=False, handle_unknown='ignore',dtype=np.int32)
ohe_embarked = OneHotEncoder(sparse=False, handle_unknown='ignore', dtype=np.int32)

X_train_sex = ohe_sex.fit_transform(X_train[['Sex']])
X_train_embarked = ohe_embarked.fit_transform(X_train_embarked)

X_test_sex = ohe_sex.transform(X_test[['Sex']])
X_test_embarked = ohe_embarked.transform(X_test_embarked)

D:\jupyter\mynumpy\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
D:\jupyter\mynumpy\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [63]:
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
0       3    male  22.0      1      0   7.2500        S         0
1       1  female  38.0      1      0  71.2833        C         1
2       3  female  26.0      0      0   7.9250        S         1
3       1  female  35.0      1      0  53.1000        S         1
4       3    male  35.0      0      0   8.0500        S         0

In [64]:
X_train_rem = X_train.drop(['Age','Sex','Embarked'],axis=1)
X_test_rem = X_test.drop(['Age','Sex','Embarked'],axis=1)

In [65]:
X_train_transformed = np.concatenate([X_train_rem,X_train_age,X_train_sex,X_train_embarked],axis=1)
X_test_transformed = np.concatenate([X_test_rem,X_test_age,X_test_sex,X_test_embarked],axis=1)

In [66]:
X_train_transformed.shape

(712, 10)

In [67]:
model = DecisionTreeClassifier()
model.fit(X_train_transformed,y_train)

DecisionTreeClassifier()

In [68]:
model.score(X_test_transformed,y_test)

0.7653631284916201

In [69]:
y_pred = model.predict(X_test_transformed)

In [70]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.7653631284916201

In [71]:
import pickle

In [73]:
pickle.dump(model,open('Model/model.pck','wb'))
pickle.dump(ohe_embarked,open('Model/ohe_embarked.pck','wb'))
pickle.dump(ohe_sex,open('Model/ohe_sex.pck','wb'))